.env.example
venv
data
gui/issuies.txt
utils/__pycache__/__init__.cpython-310.pyc
utils/__pycache__/helpers.cpython-310.pyc
.env
cli/__pycache__/__init__.cpython-310.pyc
cli/__pycache__/main.cpython-310.pyc
core/__pycache__/__init__.cpython-310.pyc
core/__pycache__/embedder.cpython-310.pyc
core/__pycache__/rag_agents.cpython-310.pyc
core/__pycache__/rag_system.cpython-310.pyc
core/__pycache__/response_formatter.cpython-310.pyc
core/__pycache__/storage_manager.cpython-310.pyc
core/__pycache__/summarizer.cpython-310.pyc
core/__pycache__/transcriber.cpython-310.pyc
core/__pycache__/tts_generator.cpython-310.pyc
core/__pycache__/youtube_processor.cpython-310.pyc
Apps/gui/__pycache__
Apps/cli/__pycache__