.env.example
venv
data
gui/issuies.txt
.env
.vscode/
__pycache__/
Apps/microservices/logs/
**/node_modules/
Apps/client/config.js
Apps/client/public/config.js
backend/tool-integration/.env.test
Apps/client/public/config.js
client/public/config.js
client/public/config.js
backend/main/cookies/cookies.txt
